@model ExamenGrupoTostadora.ViewModel.Plantasviewmodel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Detalles de la planta</h1>

<div class="card shadow mb-4 w-50">
    <div class="card-body ">
        <dl class="row">

            <dt class="col-sm-3 font-weight-bold">Imagen de referencia</dt>
            <dd class="col-sm-9">
                <img src=" @Model.ImagenUrl   " alt="@Model.Nombre" class="img-thumbnail" style="max-width: 70%;" />
            </dd>


            <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Descripcion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

            <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Precio)</dt>
            <dd class="col-sm-9">$@Html.DisplayFor(model => model.Precio)</dd>

            <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Stock)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Stock)</dd>

         

            <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Tamaño)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Tamaño)</dd>

            <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Disponible)</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Disponible, new { @class = "badge badge-@(Model.Available ?" })
            </dd>

            <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.TipoPlanta)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TipoPlanta.Nombre)</dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-between">
    <a asp-controller="TipoPlantas" asp-action="PlantasLista" asp-route-id="@Model?.TipoPlantaId" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</div>

